<h1>Tournament Manager</h1>

<%= link_to "Add New Activity", new_activity_path %>
<%= link_to "View All Activities", activities_url %><br>

<%= link_to "Add New Team", new_team_path %>
<%= link_to "View All Teams", teams_url %><br>

<%= link_to "Add New Tournament", new_tournament_path %>
<%= link_to "View All Tournaments", tournaments_url %><br>

