<div class='col-md-6'>

<h1><%= @tournament.name %></h1>
<h2>Add teams</h2>

	<%= form_for @tournament, url: {action: 'generate_schedule'} do |f| %>
		<p class="help-block">Type in new team names or select previously created teams</p>
		<% 8.times do %>
				<div class='add_team_div form-group form-inline'>
					<%= text_field_tag :team_name, '', class: 'add_team_text form-control' %>
				<% unless @teams.blank? %>
					<%= select_tag 'team_select', options_from_collection_for_select(@teams, :id, :name), include_blank: true, class: 'add_team_select form-control' %>
				<% end %>
		  	<%= f.hidden_field :team_ids, multiple: true, value: '-1', class: "add_team_hidden" %>
		  	</div>

	  <% end %>

	  <a href='#' class='new_add_team_field'>Click for another field</a><br>
	  <%= button_tag 'Save all teams', type: 'button', class: 'add_team_button btn btn-default' %>
	  <%= f.submit "Generate Schedule", class: 'add_team_submit btn btn-default hidden', hidden: true %>
	<% end %>
</div>