<h1>All Tournaments</h1>

<table class='table'>

	<% @tournaments.each do |tournament| %>
		<tr>
			<td><%= link_to tournament.name, tournament %></td>
			<td><%= tournament.activity.name %></td>
			<td><%= tournament.location %></td>
			<% if admin_signed_in? %>
				<td><span id='delete_tournament_<%= tournament.id %>'><%= link_to "delete (admin only)", tournament, method: :delete, remote: true %></span></td>
			<% end %>
		</tr>
	<% end %>

</table>