<h1><%= @tournament.name %></h1>
<h2>Details</h2>

<p><%= @tournament.activity.name %></p>

<h2>Upcoming Matches</h2>

<% @fixtures.unplayed.each do |fixture| %>

	<p><%= link_to "Match #{fixture[:game_number]}", fixture_path(fixture[:id]) %></p>
	<p><%= fixture[:time] %></p>
  <p><%= fixture[:player1] %> vs.	<%= fixture[:player2] %></p>

<% end %>

<h2>Completed Matches</h2>

<% @fixtures.completed.each do |fixture| %>

	<p><%= link_to "Match #{fixture[:game_number]}", fixture_path(fixture[:id]) %></p>
	<p><%= fixture[:time] %></p>
	<p><%= fixture[:player1] %> <%= fixture[:player1_score] %> -
		<%= fixture[:player2_score] %> <%= fixture[:player2] %></p>

<% end %>
