<h1><%= @tournament.name %></h1>
<h2>Details</h2>

<p><%= @tournament.activity.name %></p>

<h2>Upcoming Matches</h2>

<% @fixtures.all.each do |fixture| %>

	<p>Match <%= fixture[:game_number] %></p>
	<p><%= fixture[:time] %></p>
  <p><%= fixture[:player1] %> vs.	<%= fixture[:player2] %></p>

<% end %>