<h1><%= @tournament.name %></h1>
<h2>Details</h2>

<p><%= @tournament.activity.name %></p>



<% if @tournament.format == "League" %>

	<table class="table">
		<tr>
			<th>Position</th>
			<th>Team Name</th>
			<th>Games Played</th>
			<th>Wins</th>
			<th>Draws</th>
			<th>Losses</th>
			<th>For</th>
			<th>Against</th>
			<th>Difference</th>
			<th>Points</th>
		</tr>
		<% @standings.each do |standing| %>
			<tr>
				<td><%= standing.placing %><% if standing.equal_placing == true %>=<% end %></td>
				<td><%= standing.team.name %></td>
				<td><%= standing.games_played %></td>
				<td><%= standing.wins %></td>
				<td><%= standing.draws %></td>
				<td><%= standing.losses %></td>
				<td><%= standing.for %></td>
				<td><%= standing.against %></td>
				<td><%= standing.difference %></td>
				<td><%= standing.points %></td>
			</tr>
		<% end %>
	</table>

<% end %>

<% if @winner %>
	<p><%= @winner %> won the tournament.</p>
<% else %>

	<h2>Upcoming Matches</h2>

	<% @fixtures.unplayed.each do |fixture| %>
		<% if fixture[:bye] == true %>
			<p><%= fixture[:player1] %> has a bye for round <%= fixture[:round] %></p>
		<% else %>
			<p><%= link_to "Match #{fixture[:game_number]}", fixture_path(fixture[:id]) %></p>
			<p><%= fixture[:time] %></p>
		  <p><%= fixture[:player1] %> vs.	<%= fixture[:player2] %></p>
		 <% end %>

	<% end %>
<% end %>

<h2>Completed Matches</h2>

<% @fixtures.completed.each do |fixture| %>

	<% if fixture[:bye] == true %>
		<p><%= fixture[:player1] %> had a bye for round <%= fixture[:round] %></p>
	<% else %>
		<p><%= link_to "Match #{fixture[:game_number]}", fixture_path(fixture[:id]) %></p>
		<p><%= fixture[:time] %></p>
		<p><%= fixture[:player1] %> <%= fixture[:player1_score] %> -
			<%= fixture[:player2_score] %> <%= fixture[:player2] %></p>
	<% end %>

<% end %>
